<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sequi aliquid delectus sapiente adipisci, dolores distinctio repellat accusamus ab, voluptate, ipsam ea impedit quos placeat sit voluptatem deleniti veniam officia.</p>
    </section>
    <address>
      <h2 class="footer__title">
        &lt;/Dev&gt;
        <ul>
          <li><i class="fa-solid fa-code"></i> emanoel campos</li>
          <li><i class="fa-brands fa-github"></i> emanoelcampos</li>
        </ul>
      </h2>
    </address>
  </div>
  <section class="footer__copyright">
    Treinamento Full Stack
  </section>
</footer>
