<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="Digite seu nome">
        <input type="text" placeholder="Digite o assunto">
        <input type="tel" placeholder="(00) 0 0000-0000)">
        <input type="email" placeholder="Digite seu email">
        <textarea maxlength="300" placeholder="Digite sua mensagem..."></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14632.760217227149!2d-46.6766955!3d-23.5256658!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3cc6fc1e14982a33!2sCapgemini%20Business%20Services%20Brasil-Assessoria%20Empresarial!5e0!3m2!1spt-BR!2sbr!4v1666413540750!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Av. Francisco Matarazzo, 1500 - Água Branca, São Paulo - SP, 05033-070</p>
    </address>
</section>

